a {
  color: #666666;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}
body a.public {
  color: #7AA52C;
  font-weight: bold;
  text-decoration: none;
}
body a.public:hover {
  text-decoration: underline;
}
body #top-bar .public a:hover,
body #top-bar .public a.active,
body.public h3 strong {
  color: #A3DE38;
}
body.my h3 strong {
  color: #FF5132;
}
body.my .friends h3 strong {
  color: #FFD200;
}
#search {
  padding: 0;
  margin: 15px 15px;
  position: absolute;
  right: 0;
  top: 35px;
}
#search #search-query {
  margin-bottom: 0;
}
html,
body {
  background: url(img/background.png) top left repeat;
}
.brand {
  text-decoration: none;
}
.container {
  width: 1000px;
  background: white;
  border: 1px solid #535353;
  border-width: 0 1px;
  position: relative;
}
.navbar {
  margin-bottom: 0;
}
.alert {
  margin: 15px 10px;
}
.navbar-inner {
  border: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.form-horizontal.signin {
  margin: auto;
  padding: 25px;
}
.modal form {
  margin: 0;
}
.modal-header {
  color: white;
  background: #FF5132;
}
.bm-modal-container .modal-body {
  background: #EDEDED;
}
#title-bar {
  width: 100%;
  color: white;
  background: #A3DE38;
  background: linear-gradient(25deg,#EDEDED 90px,#A3DE38 10px,#A3DE38);
  overflow: hidden;
  box-shadow: inset 0 10px 8px -10px #000, inset 10px 0 8px -10px #000, inset -10px 0 8px -10px #000;
}
#title-bar h1 {
  padding: 10px 0;
  margin: 0;
  margin-left: 225px;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: bold;
}
#title-bar h1 span.arg {
  color: #434343;
  font-size: 14px;
  line-height: 14px;
}
#title-bar h1 span.arg em,
#title-bar h1 span.arg strong {
  color: white;
}
.my #title-bar {
  background: #FF5132;
  background: linear-gradient(25deg,#EDEDED 90px,#FF5132 10px,#FF5132);
}
.my .friends #title-bar {
  background: #FFD200;
  background: linear-gradient(25deg,#EDEDED 90px,#FFD200 10px,#FFD200);
}
#layout {
  overflow: hidden;
  box-shadow: inset 10px 0 8px -10px #000, inset -10px 0 8px -10px #000;
  background: linear-gradient(to right,#EDEDED 590px,white 591px);
}
#content {
  width: 60%;
  float: left;
  box-shadow: inset 10px 0 8px -10px #000, inset -5px 0 4px -5px #000;
  background: #EDEDED;
}
#content.fullwidth {
  width: 100%;
  background: #EDEDED;
}
#content h2 {
  font-size: 14px;
  line-height: 14px;
  color: #434343;
  text-transform: uppercase;
  margin: 0;
  padding: 7px 0 7px 20px;
  clear: both;
  background: url(img/big-puce-left.gif) center left no-repeat;
}
#content h2 span {
  display: block;
  position: relative;
  left: 0px;
  background: url(img/big-puce-right.gif) center right no-repeat;
}
.my #content h2 span {
  background: url(img/big-puce-my-right.gif) center right no-repeat;
}
.mark {
  font-size: 12px;
  line-height: 16px;
  color: black;
  overflow: auto;
  clear: both;
  margin-left: 15px;
  margin-right: 15px;
}
.mark a {
  color: #666;
}
.mark .screenshot {
  float: left;
  clear: left;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 83px;
  border: 2px solid #434343;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
.mark.private .screenshot,
.mark .screenshot.status_1,
.mark .screenshot.private {
  border-color: #FF5132;
}
.mark img.screenshot {
  width: 112px;
  display: block;
  background: white;
}
.mark .xfolkentry {
  margin: 10px 0;
  overflow: hidden;
}
.mark h4 {
  font-size: 1.5em;
  margin: 0 0 5px;
}
.mark h4 a {
  font-weight: bold;
  color: #434343;
  text-decoration: none;
}
.mark h4 a:hover {
  text-decoration: underline;
}
.mark a.gravatar img {
  width: 20px;
  height: 20px;
  vertical-align: -40%;
}
.mark .description {
  margin: 10px 0;
}
.mark .description ul,
.mark .description p {
  margin: 10px 0;
}
.mark .description ul li {
  padding: 1px 5px;
  list-style-position: inside;
  list-style-image: url(img/bm-puce-2-green.gif);
}
.mark .description blockquote {
  margin: 10px 0;
  color: #555;
  font-style: italic;
  border-left: 5px solid #ccc;
  padding-left: 10px;
}
.mark .description blockquote p {
  font-size: 12px;
  line-height: 18px;
}
.mark .description pre {
  margin: 10px 0;
  padding: 5px 9px;
  white-space: pre;
  overflow: auto;
}
.mark .description code {
  color: inherit;
}
.mark .description code,
.mark .description pre {
  font-size: 11px;
}
.mark .description dl dt {
  font-weight: bold;
}
.mark .description dl dd {
  background: transparent url(img/bm-puce-1.gif) no-repeat 0 0.5em;
  padding-left: 8px;
  margin-left: 5px;
}
.mark .description blockquote ul,
.mark .description blockquote ol {
  margin-left: 1em;
  padding-left: 5px;
}
.mark .tags {
  margin: 5px 0;
}
.mark .tags .tag {
  font-size: 12px;
  display: block;
  float: left;
  padding-left: 20px;
  padding-right: 10px;
  margin-top: 5px;
  text-decoration: none;
  height: 16px;
  line-height: 16px;
}
.mark .tags .tag,
.mark .tags .public_tag {
  background: url(img/tag.gif) center left no-repeat;
  border-right: 1px solid #C2C1C1;
}
.mark .tags .private_tag {
  color: #FF5132;
  background: url(img/private-tag2.gif) center left no-repeat;
  border-right: 1px solid #FF6633;
}
.mark .action-bar {
  opacity: 0;
  color: #999;
  padding-top: 10px;
  clear: both;
}
.mark .action-bar a,
.mark .action-bar span {
  margin-left: 5px;
  border-left: 1px solid #999;
  padding-left: 5px;
}
.mark .action-bar a.first {
  margin-left: 0;
  border-left: 0;
  padding-left: 0;
}
.mark.own:hover {
  background: #fcf8e3;
  transition: background 0.2s linear;
}
.mark.own:hover .action-bar {
  opacity: 1;
  transition: opacity 0.2s linear;
}
#pagination {
  padding: 10px 25px;
  clear: both;
}
#pagination .total,
#pagination .page {
  font-size: 11px;
  float: left;
  display: block;
  height: 12px;
  line-height: 12px;
}
#pagination .total {
  padding-top: 5px;
  margin-left: 10px;
}
#pagination .page {
  color: black;
  background: white;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  margin: 0 5px 10px;
  border: 1px solid #999;
  padding: 5px;
  min-width: 12px;
}
#pagination .page.next {
  float: right;
}
#pagination .spacer {
  border: transparent;
  background: transparent;
}
#pagination .clearer {
  clear: both;
  height: 0;
  line-height: 0;
}
#pagination .more {
  float: none;
  display: block;
}
.public #pagination .page.iscurrent,
.public #pagination .page:hover {
  background: #A3DE38;
}
.my #pagination .page.iscurrent,
.my #pagination .page:hover {
  background: #FF5132;
}
#right-bar {
  width: 40%;
  float: left;
  overflow: hidden;
}
#right-bar > div {
  width: 80%;
  margin: 20px auto;
  text-align: center;
}
#right-bar h3 {
  margin: 10px 0;
  font-size: 18px;
  line-height: 26px;
  text-align: left;
  text-transform: uppercase;
  font-weight: bold;
}
.taglist {
  text-align: center;
  font-size: 1.2em;
  line-height: 1.2em;
}
.taglist a.tag {
  padding: 0 1px;
  text-decoration: none;
}
.taglist a.tag:hover {
  text-decoration: underline;
}
.taglist span {
  white-space: nowrap;
}
.taglist a.private {
  color: #FF6448;
}
.taglist a.mixed {
  color: #BB6555;
}
#liveFilter {
  color: #999;
  padding-bottom: 10px;
  margin-bottom: 0;
}
#liveFilter input {
  font-size: 1em;
}
#liveFilter input[type=radio] {
  vertical-align: -10%;
}
#liveFilter label {
  display: inline;
  cursor: pointer;
}
#liveFilter label input[type=radio] {
  display: inline-block;
  padding-right: 10px;
}
.user {
  color: #999;
  width: 100%;
  clear: both;
  margin: 0;
  padding: 10px 0;
  text-align: left;
  font-size: 12px;
}
.user .gravatar {
  float: left;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.user a.user-name {
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: none;
}
.user a.user-name:hover {
  text-decoration: underline;
}
#content .friends {
  margin-left: 25px;
}
#content .friends .user {
  width: 175px;
  height: 75px;
  margin-right: 25px;
  float: left;
  clear: none;
  overflow: hidden;
}
#content .friends p.legend {
  margin: 10px 0;
  font-size: 1.4em;
}
#content .friends p.legend em {
  color: #535353;
}
#footer {
  width: 100%;
  width: 1000px;
  clear: both;
  color: #C4C4C4;
  background: #535353;
  border-top: 2px solid #A5A5A5;
  height: 42px;
  font-size: 12px;
  line-height: 24px;
}
#footer p {
  font-weight: bold;
  padding: 10px;
  margin: 0;
}
#footer a {
  font-size: 14px;
  color: #C4C4C4;
}
#footer span {
  white-space: nowrap;
  padding: 0 7px 0 5px;
  border-right: 2px solid #333;
}
#footer span:last-child {
  border: none;
}
#footer .rss {
  float: right;
  margin: 5px 5px 0;
}
#layout.tools,
#layout.profile {
  background: linear-gradient(to right,#EDEDED 295px,#999 300px,white 301px);
}
.tools,
.profile {
  overflow: hidden;
}
.tools #content,
.profile #content {
  width: 30%;
  background: none;
  box-shadow: none;
}
.tools #right-bar,
.profile #right-bar {
  width: 70%;
}
.tools #content-inner,
.profile #content-inner {
  padding: 25px 0;
}
.tools #right-bar-inner,
.profile #right-bar-inner {
  margin: 25px;
  width: auto;
}
.tools h3,
.profile h3 {
  font-size: 18px;
  margin: 1em 0;
  color: #434343;
  text-transform: uppercase;
}
.tools h4,
.profile h4 {
  font-size: 14px;
  margin: 1.5em 0 0.25em;
  color: #434343;
  border: 0;
  text-align: left;
  font-weight: bold;
}
.tools #right-bar p,
.tools #right-bar ul,
.profile #right-bar p,
.profile #right-bar ul {
  font-size: 14px;
  line-height: 1.4em;
  text-align: left;
  color: #535353;
}
.tools #right-bar ul.buttons,
.profile #right-bar ul.buttons {
  list-style-type: none;
  margin-left: 0;
}
.tools #right-bar li,
.profile #right-bar li {
  padding: 5px 0;
}
.tools #right-bar pre,
.profile #right-bar pre {
  text-align: left;
  font-size: 1.2em;
}
.tools #right-bar .error,
.tools #right-bar .notice,
.profile #right-bar .error,
.profile #right-bar .notice {
  padding: 10px;
  width: auto;
  margin: 10px auto;
}
.tools #right-bar .error ul,
.tools #right-bar .error li,
.tools #right-bar .notice ul,
.tools #right-bar .notice li,
.profile #right-bar .error ul,
.profile #right-bar .error li,
.profile #right-bar .notice ul,
.profile #right-bar .notice li {
  padding: 0;
}
.tools #right-bar form label,
.profile #right-bar form label {
  display: block;
}
.tools #right-bar ul.importing,
.tools #right-bar ul.deleting,
.profile #right-bar ul.importing,
.profile #right-bar ul.deleting {
  list-style-position: inside;
  list-style-type: disc;
}
.tools #right-bar ul.importing li,
.tools #right-bar ul.deleting li,
.profile #right-bar ul.importing li,
.profile #right-bar ul.deleting li {
  font-size: 12px;
  line-height: 1.4em;
  margin: 0;
  padding: 0;
}
.tools #content ul,
.profile #content ul {
  list-style-type: none;
  margin: 0;
}
.tools #content li,
.profile #content li {
  margin-bottom: 10px;
  background: url(img/tools/bg-off.gif) top left no-repeat;
  background: #535353;
}
.tools #content li:hover,
.tools #content li.selected,
.profile #content li:hover,
.profile #content li.selected {
  background: url(img/tools/bg-on.gif) top left no-repeat;
  background: #FF5132;
}
.tools #content li a,
.profile #content li a {
  box-shadow: inset 10px 0 10px -10px #000, inset -5px 0 5px -5px #000;
  width: 100%;
  height: 78px;
  display: block;
  font-size: 14px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  clear: both;
  background: #535353 top right no-repeat;
}
.tools #content li a span,
.profile #content li a span {
  display: block;
  padding-left: 8px;
  padding-top: 32px;
  padding-right: 65px;
  text-align: center;
}
.tools #content li.selected a,
.tools #content li a:hover,
.profile #content li.selected a,
.profile #content li a:hover {
  background-color: #FF5132;
}
.tools #content li.general a,
.profile #content li.general a {
  background-image: url("img/tools/general-off.gif");
  background-position: 110px 0;
}
.tools #content li.general.selected a,
.tools #content li.general a:hover,
.profile #content li.general.selected a,
.profile #content li.general a:hover {
  background-image: url("img/tools/general-on.gif");
}
.tools #content li.blog a,
.profile #content li.blog a {
  background-image: url("img/tools/blog-off.gif");
  background-position: 110px 0;
}
.tools #content li.blog.selected a,
.tools #content li.blog a:hover,
.profile #content li.blog.selected a,
.profile #content li.blog a:hover {
  background-image: url("img/tools/blog-on.gif");
}
.tools #content li.bookmarklets a,
.profile #content li.bookmarklets a {
  background-image: url("img/tools/bookmarklets-off.gif");
  background-position: 110px 0;
}
.tools #content li.bookmarklets.selected a,
.tools #content li.bookmarklets a:hover,
.profile #content li.bookmarklets.selected a,
.profile #content li.bookmarklets a:hover {
  background-image: url("img/tools/bookmarklets-on.gif");
}
.tools #content li.import a,
.profile #content li.import a {
  background-image: url("img/tools/import-off.gif");
  background-position: 110px 0;
}
.tools #content li.import.selected a,
.tools #content li.import a:hover,
.profile #content li.import.selected a,
.profile #content li.import a:hover {
  background-image: url("img/tools/import-on.gif");
}
.tools #content li.export a,
.profile #content li.export a {
  background-image: url("img/tools/export-off.gif");
  background-position: 110px 0;
}
.tools #content li.export.selected a,
.tools #content li.export a:hover,
.profile #content li.export.selected a,
.profile #content li.export a:hover {
  background-image: url("img/tools/export-on.gif");
}
.tools #content li.blogsync a,
.profile #content li.blogsync a {
  background-image: url("img/tools/blogsync-off.gif");
  background-position: 110px 0;
}
.tools #content li.blogsync.selected a,
.tools #content li.blogsync a:hover,
.profile #content li.blogsync.selected a,
.profile #content li.blogsync a:hover {
  background-image: url("img/tools/blogsync-on.gif");
}
.tools #content li.empty a,
.profile #content li.empty a {
  background-image: url("img/tools/empty-off.gif");
  background-position: 110px 0;
}
.tools #content li.empty.selected a,
.tools #content li.empty a:hover,
.profile #content li.empty.selected a,
.profile #content li.empty a:hover {
  background-image: url("img/tools/empty-on.gif");
}
span.button {
  padding: 0;
  margin: 10px 0;
  border: none;
  padding-left: 15px;
  background: url(img/tools/puce.gif) center left no-repeat;
  display: block;
}
span.button a,
form input.submit {
  background: #535353;
  color: white;
  padding: 5px;
  font-weight: bold;
  text-decoration: none;
  border: 0;
  cursor: pointer;
  font-size: 14px;
}
span.button a:hover {
  text-decoration: underline;
}
.modal-body {
  max-height: none;
}
.select2-container-multi .select2-choices .select2-search-choice {
  margin-top: 4px;
}
.select2-container {
  margin-bottom: 8px;
}
.select2-results,
.select2-container {
  font-size: 12px;
}
.select2-results {
  max-height: 125px;
}
.select2-results .select2-highlighted {
  background: #FF5132;
}
.select2-search-choice div {
  font-size: 12px;
  display: block;
  float: left;
  padding-left: 20px;
  padding-right: 10px;
  text-decoration: none;
  height: 16px;
  line-height: 16px;
  background: url(img/tag.gif) center left no-repeat;
  border-right: 1px solid #C2C1C1;
  margin-top: 0;
}
.select2-results:empty {
  display: none;
}
@media (min-width: 640px) {
  #content .bm-edit-modal {
    width: 50%;
    margin: auto;
  }
}
@media (max-width: 980px) {
  .navbar-text.pull-right {
    float: none;
    padding-left: 15px;
    padding-right: 5px;
  }
}
@media (max-width: 1000px) {
  body {
    padding: 0;
  }
  .container {
    width: auto;
  }
  #title-bar {
    background: #A3DE38;
    box-shadow: inset 0 10px 8px -10px #000, inset 0 -10px 8px -11px #999, inset 10px 0 8px -10px #000, inset -10px 0 8px -10px #000;
  }
  #title-bar h1 {
    margin-left: 25px;
    font-weight: normal;
  }
  .my #title-bar {
    background: #FF5132;
  }
  .form-horizontal.signin {
    width: auto;
  }
  #footer {
    width: auto;
    height: auto;
  }
  #content {
    width: auto;
    float: none;
  }
  #right-bar {
    display: none;
  }
  .marks-list {
    padding-top: 10px;
  }
  .mark h4 {
    font-size: 14px;
  }
  .mark .xfolkentry {
    width: auto;
    float: none;
  }
  .mark img.screenshot {
    width: 75px;
    height: 55px;
  }
}
