.modal-body {
  max-height:none;
}

.select2-container-multi .select2-choices .select2-search-choice {
  margin-top: 4px;
 }

.select2-container {
  margin-bottom:8px;
}

.select2-results, .select2-container {
  font-size: 12px;
}

.select2-results {
  max-height: 125px;
}

.select2-results .select2-highlighted {
  background: @orange;
}

.select2-search-choice div {
  font-size: 12px;
  display: block;
  float: left;
  padding-left: 20px;
  padding-right: 10px;
  text-decoration: none;
  height: 16px;
  line-height: 16px;
  background: url(img/tag.gif) center left no-repeat;
  border-right: 1px solid #C2C1C1;
  margin-top: 0;
}

.select2-results:empty {
  display:none;
}
